<div class="game-detail">
  <a class="back-link" href="/games">Back to games</a>
  <img class="game-image" src="/images/<%= game.image  %>" alt="<%= game.name %>" />
  <h1><%= game.name %></h1>
  <p>Released: <%= game.released %></p>
  <p>Location: <%= game.location %></p>
  <p>Protagonist: <%= game.protagonist %></p>
  <p>Villain: <%= game.villain %></p>
  <p><%= game.description %></p>
</div>